<nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08"
        aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link text-white" [routerLink]="['/sobre-mi']"
                    [routerLinkActive]="['actived']">Sobre Mi</a></li>
            <li class="nav-item"><a class="nav-link text-white" [routerLink]="['/proyectos']"
                    [routerLinkActive]="['actived']">Proyectos</a></li>
            <li  id="logo" class="nav-item" style="font-size: 25px;"> <a class="nav-link text-white finger text-bold"
                    [routerLink]="['/sobre-mi']" style="margin-top: -9%;">MR</a> </li>
            <li class="nav-item"><a class="nav-link text-white" [routerLink]="['/crear']"
                    [routerLinkActive]="['actived']">Crear</a></li>
            <li class="nav-item"><a class="nav-link text-white" [routerLink]="['/contacto']"
                    [routerLinkActive]="['actived']">Contacto</a></li>


        </ul>
    </div>
</nav>
<div id="principal">
    <div class="container">
      <div class="row">
        <div id="colhome" class="col-md-12 bg-white ml-4 mr-4 shadow p-3 mb-5 rounded">
          <h2 class="yanone mt-3 color-black text-left">{{title}}</h2>
          <hr class="about_line w-100" id="create_line">
  
          <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
  
            <div class="form-outline mb-4 mt-4">
              <label class="form-label text-left" for="name">Nombre</label>
              <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="contact.name" required/>
              <span *ngIf="name.touched && !name.valid" class="text-danger">
                Campo Obligatorio
              </span>
              
            </div>

            <div class="form-outline mb-4 mt-4">
                <label for="form-label text-left">Email</label>
                <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="contact.email" required>
                <span *ngIf="email.touched && !email.valid" class="text-danger">
                    Campo Obligatorio
                  </span>
              </div>
  
  
            <!-- Message input -->
            <div class="form-outline mb-4 mt-4">
              <label class="form-label" for="description">Mensaje</label>
              <textarea class="form-control" id="form6Example7" rows="4" name="message" #message="ngModel" [(ngModel)]="contact.message" required></textarea>
              <span *ngIf="message.touched && !message.valid" class="text-danger">
                Campo Obligatorio
              </span>
              
            </div>
  
  
  
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4 mt-4" [disabled]="!contactForm.form.valid">enviar</button>
  
            <div class="alert alert-success" role="alert" *ngIf="status == 'good'">
              Mensaje Enviado Correctamente
            </div>
            
          </form>
        </div>
  
  
  
  
  
  
  
      </div>
  
  
    </div>


    <footer class="text-center text-lg-start">

        <div class="text-center p-3" style="color: rgba(0, 0, 0, 0.5)">
            © 2020 Victor Robles Web
        </div>
    </footer>